
<div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<style>

  .slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

</style>

Select MDS Community:<br>
<select onchange="showcommunity(this)" style="width:100%;">
  {% for community in citycommunities %}
    <option>{{community}}</option>
  {% endfor %}
</select>
<p>OR</p><br>
Solicit Neighbors to Join<br>
Search Neighborhood:<br>
<div class="slidecontainer">
  <input type="range" min="0" max="100" value="0" class="slider" id="myRange" style="background-color:#af9999;">
  <p>Value: <span id="distance"></span> MILES. &nbsp; <span id="message"></span></p>
</div>

<form action="getmaillist/{{county}}/{{city}}" method="POST" id="maillistform" >
  <input type="hidden" name="xcoord" value="{{xcoord}}" />
  <input type="hidden" name="ycoord" value="{{ycoord}}" />
  <input type="hidden" name="distance" value="100" />
  <input type="hidden" name="community" value="{{community}}" />
  <input type="hidden" name="city" value="{{city}}" />
  <input type="button" value="Generate Address List" style="width:100%;" onclick="getMaillist()" class="small red button"/>
</form>

<script>

  var slider = document.getElementById("myRange");
  var output = document.getElementById("distance");
  var message = document.getElementById("message");

  var distance = 0.1;
  output.innerHTML = slider.value;
  slider.oninput = function() {

    distance = this.value/100.0;
    output.innerHTML = this.value/100.0;
    message.innerHTML = "";
  }
  slider.onmouseup = function(){
    console.log("mouseup");
  	message.innerHTML = "FETCHING";
    getNeighborhood(this.value/100.0);
  }

  function getNeighborhood(miles){
      map.eachLayer((layer) => {
        if(!('_url' in layer)){
          layer.remove();
        }

      });
      debugger;
      $.ajax({
          url:"showneighborhood/{{county}}/{{city}}",
          method: "POST",
          data: JSON.stringify({xcoord:{{xcoord}}, ycoord:{{ycoord}}, distance:distance}),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(geodata){
           var dutStyle = {
             "color": 'skyblue',
             "weight":1,
             "opacity":1.0,
             "fillColor": "red",
             "fillOpacity": 0.0
           };
          cityparcels = geodata;
          var geojson = L.geoJson(geodata, {
            style: dutStyle
          });

          //for(let struct of geodata.features){
            //console.log(struct.properties['sit_full_s']);
          //}

          geojson.addTo(map);
          map.fitBounds(geojson.getBounds());
          //panAndZoom(address,city);
          message.innerHTML = geodata["features"].length.toString() + " parcels";
        }
      })
  }

  var maillist = ["2188 Danberry Lane San Rafael CA 94903"];
  function getMaillist(){
    //$("input[name='distance']").val(distance);
    //$("#maillistform").submit();
    console.log("called getMailList");
    var datavals = {};
    $("#maillistform").serializeArray().map(function(x){datavals[x.name] = x.value;});
    datavals['distance'] = distance;
    $.ajax({
        url:"getmaillist2/{{county}}/{{city}}",
        method: "POST",
        data: JSON.stringify(datavals),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          console.log("data returned from getmaillist");
          $("#maillisttext").val(data['maillist'].join('\n'));
          $("#maillistpopup").css('visibility','visible');

          $("#maillistpopup").dialog({
              title: "Mail List",
              modal: true,
              draggable: false,
              resizable: true,
              autoOpen: true,
              width: 500,
              height: 500,
              left: 100,
              top: 200,
              open:function(){
                $("#map").css('visibility','hidden');
              },
              close:function(){
                $("#map").css('visibility','visible');
              }
          })
          console.log("dialog shown");
        },
        error: function(error){
          console.log("error")
        }
      })
  }


</script>

</div>
