<html>
<head>
  <title>MyDefensibleSpace Diagnostics</title>
<style>
   body {
     color:white;
     background-color:#502010;
   }
   td {
     vertical-align:top;
   }
</style>
</head>
<body>
<center>
  <h3>MDS DB DIAGNOSTICS</h3>
<table>
<tbody>
<tr><td>SQL TEXT:</td><td>
<form action="/d1818" method="post">
<textarea cols='100' rows='3' name="sqltext">{{sqltext}}</textarea>
</td></tr>
<td></td><td><input type='submit' value='submit'/></td></tr>
<tr><td>RESULTS:</td><td >
<textarea cols='100' rows='40' name="queryresult">{{queryresult}}</textarea><br>
</td></tr></tbody>
</table>
</center>

</form>
</body>
</html>
